<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Yann Druffin">
        <title>Yann Druffin</title>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    </head>
    <body>
      {{template "_nav.html" .}}
        {{ template "main" . }}
        {{ block "footer" . }} {{ end }}
        <script defer src="/js/fontawesome-all.min.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.scrollme.js"></script>
        <script src="/js/app.bundle.min.js"></script>
  </body>
</html>
    
    
   