{{ define "content" }}
<main aria-role="main">
  <div id="index-container">

    <section class="content scrollme intro text-center">    
        <div class="scrollme animateme introduction"  data-when="span" data-from="0" data-to="1" data-opacity="0.2" data-translatey="300" data-easing="linear" >
            <div class="animateme" data-when="span" data-from="0" data-to="1" data-scale="0.75" data-translatey="100" data-easing="linear" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
                <img src="/img/me.jpg"  alt="picture of me" />
                <h1>{{.Firstname}} {{.Lastname}}</h1>
                <h2>{{.Title}}</h2>
                <ul>
                    <li><a href="https://github.com/yanndr"><i class="fab fa-github-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/yann-druffin-431b3823"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://twitter.com/ydruffin"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
                
            </div> 
        </div>
    </section>
    
    {{template "pageSelector.html" .Pages}}
</main>
{{ end }}