{{define "content"}}
<main role="main">
    <div class="content scrollme intro">    
        <div class="scrollme animateme introduction"  data-when="span" data-from="0" data-to="1" data-opacity="0.2" data-translatey="300" data-easing="linear" >
            <div class="animateme" data-when="span" data-from="0" data-to="1" data-scale="0.75" data-translatey="100" data-easing="linear" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
                <img src="/img/me.jpg"  alt="picture of me" />
                <h1>Yann Druffin</h1>
                <h2>Software developer</h2>
            </div> 
        </div>
        <div class="connection">

            </div>
    </div>
    
    <div class="page  page1" >
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h2>I live in Vancouver, BC Canada</h2>
                </div>
                <div calss="col-5">
                    <figure class="vancouver scrollme animateme" data-when="span" data-from="0.5" data-to="0" data-opacity="0" >
                        <img class="" src="/img/vancouver.jpg" />
                    </figure>
                </div>
            </div>
        </div>        
    </div>
        <div class="page animate page2 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h4>list of language that I use</h4>
                        <ul class="scrollme">
                            <li class=" animateme" data-when="span" data-from="0.1" data-to="0" data-opacity="0" data-translatex="-500" data-easing="easeout">C#</li>
                            <li class=" animateme" data-when="span" data-from="0.2" data-to="0" data-opacity="0" data-translatex="-600" data-easing="easeout">Go</li>
                            <li class=" animateme" data-when="span" data-from="0.3" data-to="0" data-opacity="0" data-translatex="-700" data-easing="easeout">Javascript</li>
                        </ul>
                    </div>
                    <div calss="col-9">
                        <h2>I consider myself as a Full stack developer</h2>
                        <p>I am confortable with several language, I used mostly C# in a professional environment</p>
                    </div>
                </div>
            </div>
            <img class="animate bounce-left" src="/img/Csharp_Logo.png" />
            <img class="animate bounce-right" src="/img/Gogophercolor.png" />
        </div>
        <div class="page animate page3 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page4 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page5 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
    
</main>
{{end}}