{{define "content"}}
<main role="main">
    <div class="scroll-me">
        <div class="page page0 animate" >
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="/img/me.jpg"  alt="picture of me" />
                    </div>
                    <div calss="col-9">
                        <p>Hi, I am Yann Druffin, I am a software developer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page1 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <h2>I live in Vancouver, BC Canada</h2>
                    </div>
                    <div calss="col-5">
                        <img class="animate bounce-right" src="/img/vancouver.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page2 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h4>list of language that I use</h4>
                        <ul>
                            <li>C#</li>
                            <li>Go</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                    <div calss="col-9">
                        <h2>I consider myself as a Full stack developer</h2>
                        <p>I am confortable with several language, I used mostly C# in a professional environment</p>
                    </div>
                </div>
            </div>
            <img class="animate bounce-left" src="/img/Csharp_Logo.png" />
            <img class="animate bounce-right" src="/img/Gogophercolor.png" />
        </div>
        <div class="page animate page3 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page4 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page animate page5 bounce-up" >
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2>Form 2011 to 2018 I was working for Western Union</h2>
                        <img class="animate bounce-left" src="/img/wu_logo.png" />
                    </div>
                    <div calss="col-3">
                        <p>Here some example</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}