{{define "content"}}

    <h1>This is my h1 Title</h1>
    
    <p>Lorem ipsum dolor sit amet, vidit minimum omittantur no est, mei duis postulant ex. Et his iudico nominati iudicabit, purto numquam at mel, an meliore docendi efficiantur eam. Id vim dolorem cotidieque. Usu an justo primis facete, suas tibique cu pri. Labore quidam regione vix id, vis legimus fastidii ad, agam abhorreant an eam. Ut qui libris laoreet corrumpit, doctus platonem ex qui.</p>
  <p>Has eirmod labitur ex, cum utinam assentior ea, cum elitr nobis voluptatibus eu. Cu graeci mentitum partiendo mea, eu audire adipisci mea. Ei duis decore aperiri mei. Quem vivendo persecuti an duo, nonumy tritani duo in. Veniam graece consequuntur mel ut. Ea vis appetere persecuti, id mundi corpora sed. In quem simul tollit vel, qui equidem commune delicata in.</p>
{{end}}