.page{
    min-height: 300px;
    padding: 2em 0;    

    img{
        max-width: 400px;
        max-height: 200px;
    }
}


.intro{
    background: #102026;
    
    overflow: hidden;
    z-index: 50;
}

.connection{
    background: linear-gradient(to bottom,transparent,rgb(16, 32, 38) );
    min-height: 50px;
}

.introduction{
    text-align: center;
    color: #443A37;
    padding:1em;
    background: url("/img/IMG_2715.JPG")  center center no-repeat;
    background-size: cover;
    height:60vw;
    min-height: 440px;
    max-height: 800px;
    img{
        max-width: 6em;
        border-radius:50%;
    }

}


.page1{
    .vancouver{
        opacity: 0;
    }

    background-color: #102026;
    color:#A9C5E6;
    z-index: 55;
}

.page2{
    background-color: #72726A;
    color:white;
}

.page3{
    background-color: #87C8E6;
    color: #443A37;
}