#index-container{

    .intro{
        background: $primary-color;
        
        overflow: hidden;
        z-index: 50;
    }
    
    .introduction{
        color: $intro-color-text;
        padding:5em 1em 10em 1em;
        background: url("/img/IMG_2733.JPG")  center center no-repeat;
        background-size: cover;
        height: 90vh;
        min-height: 440px;
        img{
            max-width: 6em;
            border-radius:50%;
        }
        a{
            font-size: 3em;
            color: $intro-color-text;
            &:hover{
                color: lighten($intro-color-text,25);
            }
        }
    
        ul{
            list-style-type: none;
            padding: 0;
            li{
                display: inline;
                margin: 0 1em;
            }
        }
    }
    
    #bio{
        p{
           font-size: 1.5em;
        } 
    }
    
    #skills{
        background-color: $third-color;
        .lang-img{
            img{
                max-height: 50px;
            }
        }
    }

    .alt{
        background-color: $third-color;
    }
}


