
.navbar{

    transition: all 700ms ease-out;
    background-color: $nav-color;
    #mainNav{
        .navbar-nav{
            .nav-item{
                &.active{
                    .nav-link{
                        font-weight: bold;
                    }
                }
                .nav-link{
                    color:$nav-a-color;
                    transition: all 100ms ease-out;
                    &:hover{
                        color:lighten($nav-a-color,15)
                    }
                }
            }
        }        
    }
    &.changed{
        #mainNav{
            .navbar-nav{
                .nav-item{
                    &.active{
                        .nav-link{
                            font-weight: bold;
                        }
                    }
                    .nav-link{
                        color:$nav-a-color-changed;
                        &:hover{
                            color:darken($nav-a-color,15)
                        }
                    }
                }
            } 
        } 
        .navbar-brand{
            color:$nav-a-color-changed;
        }
        .navbar-toggler{
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$nav-a-color-changed}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            border-color: $nav-a-color-changed;
        }
      
        
        background-color: $nav-color-changed;  
        
    }
    
}
