
$primary-color:#257A97;
$secondary-color:#edeeef;
$third-color:#BCF2FF;

$font-color:#1A1A1A;


$intro-color-text:$font-color;

$nav-color:transparent;
$nav-color-changed:$primary-color;
$nav-a-color:$font-color;
$nav-a-color-changed:$secondary-color;